<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
<a href="../index.html">Inicio </a>
<a href="#"> Galería </a>
<a href="tabla.html"> Tabla </a>
<a href="https://www.google.com"> Google</a>
<a href="listas.html">Listas</a>
<a href="formulario.html">Formulario</a>
    </header>
    
    <main>
<h1>galeria</h1>
    <section id="inicioFront">
        <!--5.En el archivo "galeria.html", añade una nueva sección. 
Dentro de esta sección, 
incluye un contenedor que contenga: una imagen, un subtítulo, 
una descripción,
un enlace para abrir la imagen en una nueva ventana,
opciones para descargar la imagen, 
descargar un PDF y enviar un correo.-->
     <div>
        <img src="../static/img/frontend.JPG" width="480" alt="HTML, CSS, JS">
        <h2 id="definicion">Desarrollo Frontend</h2>
        <p>El término "frontend" se refiere a la parte de un sistema informático o aplicación web que interactúa directamente con los usuarios finales. En el contexto de desarrollo web, el frontend se compone principalmente de tres tecnologías: HTML, CSS y JavaScript. HTML (HyperText Markup Language) se utiliza para estructurar y definir el contenido de una página web, CSS (Cascading Style Sheets) se utiliza para controlar su aspecto y diseño, y JavaScript se utiliza para agregar interactividad y dinamismo a la experiencia del usuario. El frontend también puede incluir recursos multimedia como imágenes, vídeos y fuentes. Los desarrolladores frontend se centran en crear interfaces de usuario atractivas, intuitivas y funcionales que satisfagan las necesidades y expectativas de los usuarios finales.</p>
        <div><a href="..static/img/frontend.JPG" target="_blank">Abrir imagen en una nueva pestaña</a></div>
         <div> 
            <a href="..static/img/frontend.JPG" download>Descargar imagen</a>

        </div>
        <a href="..assets/atajos.pdf">Descargar Pdf</a>
        <br>
        <a href="mailto:tiktokestampa@gmail.com" >Enviar correo</a>
     </div>
    
    </section>
    <section>
        <h2>Breve Historia del desarrollo web frontend</h2>
        <p>La historia del desarrollo web frontend es fascinante y ha experimentado una evolución significativa desde los primeros días de la World Wide Web. Aquí tienes un resumen de los hitos más importantes: 
<ol>
           <li> Década de 1990 - Nacimiento de la Web: En los primeros días de la web, las páginas web eran principalmente documentos HTML estáticos con enlaces y contenido simple.</li>
            
            <li> Introducción de CSS: En 1996, se introdujo CSS (Cascading Style Sheets) como un método para separar el contenido de la presentación en las páginas web. Esto permitió un mayor control sobre el diseño y la apariencia de las páginas web.
            
            <li>Auge de JavaScript: A finales de la década de 1990, JavaScript comenzó a ganar popularidad como un lenguaje de programación del lado del cliente que permitía agregar interactividad y dinamismo a las páginas web. Esto condujo al desarrollo de aplicaciones web más avanzadas y ricas en contenido.</li>
            
            <li> Década de 2000 - AJAX y Web 2.0: En la década de 2000, AJAX (Asynchronous JavaScript and XML) permitió a las aplicaciones web enviar y recibir datos del servidor en segundo plano, lo que llevó a una experiencia de usuario más fluida y similar a las aplicaciones de escritorio. Esto también marcó el surgimiento del término "Web 2.0", que se refiere a la transición de la web estática a una web más interactiva y colaborativa.</li>
            
            <li> Frameworks de JavaScript: A partir de mediados de la década de 2000, surgieron varios frameworks de JavaScript como jQuery, Prototype, y luego AngularJS, ReactJS, y Vue.js. Estos frameworks simplificaron el desarrollo frontend al proporcionar herramientas y patrones de diseño para crear aplicaciones web complejas de manera más eficiente.</li>
            
            <li> Enfoque en la experiencia del usuario (UX): A medida que la web evolucionaba, hubo un mayor énfasis en la experiencia del usuario. Los diseñadores y desarrolladores frontend comenzaron a centrarse en la usabilidad, la accesibilidad y el diseño centrado en el usuario para crear experiencias web más atractivas y funcionales.</li>
            
            <li> Responsive Web Design: Con el aumento del uso de dispositivos móviles, surgió la necesidad de diseñar sitios web que se adaptaran a diferentes tamaños de pantalla y dispositivos. El Responsive Web Design se convirtió en una práctica estándar para garantizar que los sitios web fueran accesibles y legibles en una variedad de dispositivos.</li>
            
            <li> Avances en herramientas y tecnologías: La evolución de las herramientas y tecnologías frontend, como preprocessors de CSS (Sass, Less), herramientas de automatización de tareas (Gulp, Grunt), y sistemas de gestión de paquetes (npm, Yarn), han permitido a los desarrolladores frontend trabajar de manera más eficiente y colaborativa en proyectos web.</li>
            
            <li> En resumen, la historia del desarrollo web frontend ha sido impulsada por avances tecnológicos, cambios en las prácticas de desarrollo y una creciente demanda de experiencias web más interactivas y centradas en el usuario. La rápida evolución de la web frontend continúa hasta el día de hoy, con un enfoque en la accesibilidad, el rendimiento y la innovación tecnológica.</li>
        </ol>
        </p>
    </section>
    <a href="#definicion">Desarrollo Frontend</a>
    </main>

    <footer>

    </footer>
</body>
</html>