<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <header>
        <nav>
            <a href="galeria.html"> Galería </a>
            <a href="tabla.html"> Tabla </a>
            <a href="https://www.google.com"> Google </a>
            <a href="#">Listas</a>
            <a href="../index.html"> Inicio </a>
            <a href="formulario.html">Formulario</a>
        </nav>
    </header>
    
    <main>
        <h1>Listas</h1>
        <!--3.En el archivo "lista.html", organiza el contenido en cuatro secciones 
distintas, cada una 
mostrando un tipo diferente de lista:-->
<section> <!--ordenada-->
    <h2>Full Stack Python</h2>
        <ol>
            <li>FrontEnd</li>
            <li>BackEnd</li>
        </ol>
</section>

<section> <!--desordenada-->
    <h3>FrontEnd</h3>
    <ul>
        <li>Html</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Git</li>
        <li>JavaScript</li>
    </ul>
</section>

<section> <!--definicion-->
    <h3>Conceptos Frontend</h3>
    <dl>
        <dt>HTML</dt>
        <dd>HyperText Markup Language. Es el lenguaje estándar utilizado para crear y diseñar páginas web.</dd>
        <dt>CSS</dt>
        <dd>Cascading Style Sheets.es un lenguaje de diseño utilizado para controlar el estilo y la presentación de documentos HTML.</dd>
    </dl>
</section>

<section> <!--dependiente-->
<ol>
    <li>BackEnd</li>
        <ul>
            <li>MySql</li>
            <li>Python</li>
            <li>Django</li>
        </ul>
</ol>

</section>

    </main>

    <footer>

    </footer>
</body>
</html>