<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="../index.html"> Inicio </a>
        <a href="galeria.html"> Galería </a>
        <a href="#"> Tabla </a>
        <a href="https://www.google.com"> Google </a>
        <a href="listas.html">Listas</a>
    </header>
    
    <main>
tabla
    </main>

    <footer>

    </footer>
</body>
</html>